<!DOCTYPE html>

<html>

   <head>
      <title>URL Shortener</title>

      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: URL Shortener Microservice</h2>
        <h3>Short URL Creation </h3>
        <p>
          example: <code>POST https://project3-url-shortener-microservice-fcc.glitch.me/api/shorturl/new</code> - <code>https://www.google.com</code>
        </p>
        <form action="api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://www.freecodecamp.org">
          <input type="submit" value="POST URL">
        </form>
        <h3>Example Usage:</h3>
        <a href="https://project3-url-shortener-microservice-fcc.glitch.me/api/shorturl/40830">
          https://project3-url-shortener-microservice-fcc.glitch.me/api/shorturl/40830
        </a>

        <h3>Will Redirect to:</h3>
        <p>https://www.google.com/</p>
      </div>
      <div class="footer">
        <p>
          by <a href="https://www.freecodecamp.org">freeCodeCamp</a>
        </p>
      </div>
   </body>


</html>
